<div style="background-color: white;">
  <div class="row">
    <label class="col-md-6">UserId</label>
    <label class="col-md-6">{{userId}}</label>
  </div>
  <div class="row">
    <label class="col-md-6">API Token</label>
    <label class="col-md-6" style="overflow-wrap: break-word">{{token}}</label>
  </div>
  <div class="row">
    <label class="col-md-6">UserName</label>
    <label class="col-md-6">{{userName}}</label>
  </div>
  <div class="row">
    <label class="col-md-6">Is Authenticated</label>
    <label class="col-md-6">{{isLoggedin}}</label>
  </div>
</div>
