<div id="studioEdit" *ngIf='studio' class="row justify-content-center">
  <div class="col-md-12 text-center">
    <form #f="ngForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 font-weight-normal"></h1>
      <div class="form-group">
        <input type="text" id="studioEditName" name="name" [(ngModel)]="studio.name" class="form-control" placeholder="Name"
          required autoFocus>
      </div>
      <div class="form-group">
        <input type="text" id="address1" name="address1" [(ngModel)]="studio.address1" class="form-control"
          placeholder="Address 1" required autoFocus>
      </div>
      <div class="form-group">
        <input type="text" id="address2" name="address2" [(ngModel)]="studio.address2" class="form-control"
          placeholder="Address 2" required autoFocus>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <studio-portal-select [api]='"country"' [key]='"country"' [selectedValues]='studio.country'
              [placeholder]='"Select your Country"' required>
            </studio-portal-select>
            <studio-portal-spinner [spinnerName]="'newtonsCradle'"></studio-portal-spinner>
          </div>
          <div class="col-sm-4">
            <studio-portal-select [api]='"state"' [key]='"state"' [selectedValues]='studio.state'
              [placeholder]='"Select your State"'>
            </studio-portal-select>
            <studio-portal-spinner [spinnerName]="'newtonsCradle'"></studio-portal-spinner>
          </div>
          <div class="col-sm-4">
            <studio-portal-city-select [api]='"city"' [key]='"city"' [selectedValues]='studio.city'
              [placeholder]='"Select your City"'>
            </studio-portal-city-select>
            <studio-portal-spinner [spinnerName]="'newtonsCradle'"></studio-portal-spinner>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" id="zipCode" name="zipCode" [(ngModel)]="studio.zipcode" class="form-control"
          placeholder="Zip Code" required autoFocus>
      </div>
      <div class="form-group">
        <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="studio.phonenumber" class="form-control"
          placeholder="Phone Number" required autoFocus>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        <!--[disabled]="!f.form.valid"-->
        Save</button>

      <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
        <strong>Oops!</strong> {{error}}
      </div>
    </form>
  </div>
</div>
