<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" *ngIf="!isAuthenticated">
  <mdb-navbar-brand>
      <a class="navbar-brand" href="/Musicians">
         {{environment.suite}} - {{application}} <ng-container *ngIf='!environment.isProduction'>({{environment.environmentName}})</ng-container>
        </a>
  </mdb-navbar-brand>
  <links>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class='nav-link' id='automation-login' routerLinkActive='active' (click)="login()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id='automation-signup' routerLinkActive='active' [routerLink]="['/Musicians/register']">Signup</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark" *ngIf="isAuthenticated">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="/Musicians">
          {{environment.suite}} - {{application}} <ng-container *ngIf='!environment.isProduction'>({{environment.environmentName}})</ng-container>
        </a>
      </mdb-navbar-brand>
  <links>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" id='automation-profile' routerLinkActive='active' [routerLink]="['/Musicians/profile']">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id='automation-admin' routerLinkActive='active' [routerLink]="['/Musicians/admin']">Administration</a>
      </li>
      <li class="nav-item">
        <a class='nav-link' id='automation-signout' (click)="signout()" href="/Musicians">Signout {{name}}</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
