<footer class="page-footer text-center font-small wow fadeIn" style="padding-top:20px;">
    <div class="pb-4">
        <a href="@Studios.FacebookURL" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>
        <a href="@Studios.TwitterURL" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>
        <a href="@Studios.YoutubeURL" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>
        <a href="@Studios.PintrestURL" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>
    </div>
    <div class="footer-copyright py-3">
        Copyright © 2019
        <a href="#" target="_blank"> SoundSesh Studios </a>
    </div>
</footer>