/* .container {
  margin-top: 100px;
}
 */

/* @media (min-width: 1200px) {
  .container {
    max-width: 1400px !important;
  }
}


@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}


@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}
 */